.css1 {
    padding-right: 79px;
    padding-left: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 100px;
    width: 100%;
  }

  .css2 {
    padding-right: 79px;
    padding-left: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
  }
  .cssFont1{
    font-size: 1.75rem;
    font-weight: 200;
    margin-bottom: 10px;
    color: red;
    width: 100%;
  }
  .cssFont2 {
    font-weight: 200;
    margin-bottom: 10px;
    width: 100%;
  }
  .imgCss1 {
    width: 40%;
    border-radius: 2%;
    margin-top: 20px;
  }